body {
  padding-top: 30px;
  background-color: #f8f7f3;
}

.card {
  background-color: rgb(234, 213, 186);
  border-radius: 25px;
  width: 350px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.submit {
  margin-top: 10px;
}

hr {
  color: black;
  opacity: 1;
}

h1 {
  font-weight: 600;
}
.p1 {
  margin-bottom: 0px;
}
p {
  margin-bottom: 0px;
}

input {
  margin-bottom: 10px;
}

#dropdownMenuButton1 {
  background-color: white;
  border-color: grey;
  border-radius: 0px;
}
